.header {
  background-color: #ffffff;
  padding: 10px 20px 18px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo-text {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo-text:hover {
  opacity: 0.8;
}
.logo-text:active {
  opacity: 0.6;
}

.header__logo {
  cursor: pointer;
}
.header__logo:hover {
  opacity: 0.8;
}
.header__logo:active {
  opacity: 0.6;
}

.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/oswald/oswaldregular.woff") format("woff2"), url("/fonts/oswald/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("/fonts/oswald/oswaldmedium.woff2") format("woff2"), url("/fonts/oswald/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("/fonts/oswald/oswaldmedium.woff2") format("woff2"), url("/fonts/oswald/oswaldmedium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/lato/lato-regular.woff2") format("woff2"), url("/fonts/lato/lato-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.page__body {
  width: 320px;
  margin: 0;
  padding: 0;
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__toggle {
  position: relative;
  width: 24px;
  height: 18px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../img/main-nav/menu-icon.svg");
}
.main-nav__toggle--active {
  background-image: none;
}
.main-nav__toggle--active::after {
  left: 0;
  top: 50%;
  position: absolute;
  content: "";
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  transform: rotate(45deg);
}
.main-nav__toggle--active::before {
  left: 0;
  top: 50%;
  position: absolute;
  content: "";
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  transform: rotate(-45deg);
}

.main-nav__wrapper {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 2;
}
.main-nav__wrapper--opened {
  display: block;
}

.site-list__item {
  padding: 22px 0 24px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-top: 1px solid #e6e6e6;
}

.site-list__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.title {
  margin: 0;
}
.title--home {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 24px;
}

.stats__wrapper {
  padding: 26px 20px 20px;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/stats/cat-main-background.png");
  background-repeat: no-repeat, no-repeat;
  background-size: auto 302px, auto auto;
}

.stats__description {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.stats__image {
  margin: 0 0 2px;
}

.stats__programm-card {
  height: 40px;
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #68b738;
}
.stats__programm-card:hover {
  background-color: #5fac2f;
}
.stats__programm-card:active {
  color: #ffffff30;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.features__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 29px 71px;
}

.features__description {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
  margin: 0;
  margin-bottom: 38px;
}

.features__item--weight-loss {
  background-image: url("../img/features/cat-weight-loss.svg");
  background-repeat: no-repeat;
  background-position: 21px 22px;
}

.features__item {
  background-color: #f2f2f2;
  padding: 30px 33px 18px 20px;
  margin: 0 20px 20px 20px;
}

.features-card {
  min-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 4px 9px 4px 0;
}
.features-card::after {
  content: url("../img/features/features-arrow.svg");
  margin-left: 15px;
}
.features-card:hover::after {
  content: url("../img/features/features-arrow-hover.svg");
}
.features-card:active {
  opacity: 0.3;
}

.features__item--weight-gain {
  background-image: url("../img/features/cat-weight-gain.svg");
  background-repeat: no-repeat;
  background-position: 13px 24px;
}

.benefits__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 42px;
}

.benefits__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.benefits__text {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-left: 100px;
  text-align: left;
  min-height: 60px;
}

.benefits__item--leaf {
  background-image: url("../img/benefits/leaft.svg");
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: 60px 60px;
}

.benefits__item--powder {
  background-image: url("../img/benefits/powder.svg");
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: 60px 60px;
}

.benefits__item--cutlery {
  background-image: url("../img/benefits/cutlery.svg");
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: 60px 60px;
}

.benefits__item--watch {
  background-image: url("../img/benefits/watch.svg");
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: 60px 60px;
}

.benefits__wrapper {
  margin-bottom: 74px;
}

.statistics__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.statistics__text {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #444444;
  margin: 0;
  margin-bottom: 36px;
}

.statistics__title-index {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 9px;
}

.statistics__list {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.statistics__text-index {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  color: #444444;
  margin: 0;
  align-items: center;
  text-align: center;
}

.statistics {
  background-color: #eaeaea;
}

.statistics__price {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}

.cat-slider__wrapper {
  margin: 0;
  padding: 0;
  background-color: #eaeaea;
}

.statistics__wrapper {
  padding: 26px 20px 40px;
}

.address__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  color: #000000;
  margin: 0;
}

.address__text {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
  margin: 0;
  text-align: left;
  margin-left: 2px;
}

.address__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.address__wrapper {
  padding: 26px 20px;
}
.address__wrapper--gray {
  background-color: #f2f2f2;
}

.mape-image {
  margin-bottom: -4px;
}

.main-footer__social-list {
  margin: 0;
  padding: 20px 0 21px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__social-link--vkontakte::after {
  content: url("../img/footer/vkontakte.svg");
}
.main-footer__social-link--vkontakte:hover::after {
  content: url("../img/footer/vkontakte-green.svg");
}
.main-footer__social-link--youtube::after {
  content: url("../img/footer/youtube.svg");
}
.main-footer__social-link--youtube:hover::after {
  content: url("../img/footer/youtube-green.svg");
}
.main-footer__social-link--telegram::after {
  content: url("../img/footer/telegram.svg");
}
.main-footer__social-link--telegram:hover::after {
  content: url("../img/footer/telegram-green.svg");
}
.main-footer__social-link:active::after {
  opacity: 0.3;
}

.main-footer__wrapper {
  padding: 0 20px;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
}

.main-footer__logo-link {
  padding: 39px 0 32px 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
}
.main-footer__logo-link:hover {
  opacity: 0.8;
}
.main-footer__logo-link:active {
  opacity: 0.6;
}

.main-footer__social-item {
  width: 28px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-footer__logo-html-academy-link {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 22px 20px;
}
.main-footer__logo-html-academy-link::after {
  content: url("../img/footer/logo-html-academy.svg");
}
.main-footer__logo-html-academy-link:hover::after {
  content: url("../img/footer/logo-html-academy-green.svg");
}
.main-footer__logo-html-academy-link:active {
  opacity: 0.3;
}

.main-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-decoration: none;
  color: #000000;
  margin: 0;
  padding-bottom: 41px;
  padding-left: 20px;
  border-bottom: 1px solid #ebebeb;
}

.product-cards__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.product-cards__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 8px;
}

.product-cards__table-element {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #444444;
}
.product-cards__table-element--value {
  text-align: end;
}

.product-cards__button {
  height: 40px;
  width: 280px;
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #68b738;
  cursor: pointer;
}
.product-cards__button:hover {
  background-color: #5eaa2f;
}
.product-cards__button:active {
  color: #ffffff30;
}

.product-cards__button-all {
  height: 40px;
  width: 280px;
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  background: #f2f2f2;
  cursor: pointer;
}
.product-cards__button-all:hover {
  background-color: #ebebeb;
}
.product-cards__button-all:active {
  opacity: 0.3;
}

.product-cards__item {
  padding: 20px 20px 26px;
  position: relative;
  border-bottom: 1px solid #ebebeb;
}
.product-cards__item--plus {
  margin-top: 58px;
}
.product-cards__item--plus::before {
  content: url("../img/product-cards/plus.svg");
  width: 30px;
  height: 30px;
  position: absolute;
  left: calc(50% - 15px);
  top: -39px;
}

.product-cards__item-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.product-cards__table {
  width: 140px;
}

.product-cards__block-info {
  margin-bottom: 9px;
}

.product-cards__description {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  margin: 0;
  margin-bottom: 22px;
}

.additional-goods__wrapper {
  margin: 25px 20px 35px;
}

.additional-goods__title {
  margin: 0;
  padding-bottom: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: #000000;
  border-bottom: 1px solid #cdcdcd;
}

.additional-goods__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.additional-goods__item {
  padding: 13px 0 19px;
  border-bottom: 1px solid #cdcdcd;
}

.additional-goods__item-title {
  margin: 0;
  margin-bottom: 13px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.additional-goods__table {
  display: block;
  margin: 0;
  margin-bottom: 15px;
}

.additional-goods-tbody {
  display: block;
}

.additional-goods__column {
  display: flex;
  justify-content: space-between;
}

.additional-goods__table-element {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #444444;
}

.additional-goods__button {
  background: #68b738;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  min-height: 40px;
  cursor: pointer;
}
.additional-goods__button:hover {
  background-color: #5eaa2f;
}
.additional-goods__button:active {
  color: #ffffff30;
}

.additional-goods__gift-wrapper {
  min-height: 290px;
  position: relative;
  background: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/additional-goods/gift-background.png");
  background-size: cover;
}
.additional-goods__gift-wrapper::before {
  content: url("../img/additional-goods/icon_gift.svg");
  position: absolute;
  top: 58px;
  left: 101px;
}

.additional-goods__gift-text {
  margin: 0 auto;
  padding-top: 186px;
  padding-bottom: 43px;
  width: 162px;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.cat-data {
  padding: 27px 0 32px;
}

.title-form {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-decoration: none;
  text-align: left;
  color: #000000;
  margin: 0 20px 37px;
}

.cat-data__info {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
  margin: 0 20px 39px;
  max-width: 226px;
}

.field-group {
  margin: 0;
  display: flex;
  gap: 13px;
  align-items: center;
}

.form-label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  white-space: nowrap;
}

.field {
  padding: 14px 0 13px 20px;
  border: 1px solid #e7e7e7;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.field::placeholder {
  color: #444444;
}
.field:hover {
  border: 1px solid #cdcdcd;
}
.field:focus, .field:focus-visible {
  outline: none;
  border: 2px solid #444444;
}
.field:disabled {
  border: 2px solid #ff8282;
}

.cat-data__form-fields-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0 20px 24px;
}

.details-title {
  margin: 0 20px 35px;
  max-width: 187px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
.details-title--legend {
  margin-bottom: 34px;
}

.field-email {
  padding: 14px 0 13px 15px;
  background-image: url("../img/cat-data/email-icon.svg");
  background-repeat: no-repeat;
  background-position: center right 15px;
}

.field-phone {
  padding: 15px 0 14px 15px;
  background-image: url("../img/cat-data/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: center right 15px;
}

.comment-form {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding: 9px 12px 0 15px;
  width: 280px;
  box-sizing: border-box;
  min-height: 150px;
  margin: 0 20px 23px;
}
.comment-form:hover {
  border: 1px solid #cdcdcd;
}
.comment-form:focus, .comment-form:focus-visible {
  outline: none;
  border: 2px solid #444444;
}
.comment-form:disabled {
  border: 2px solid #ff8282;
}

.button-send {
  padding: 0;
  background: #68b738;
  width: 280px;
  min-height: 40px;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 20px 21px;
  cursor: pointer;
}
.button-send:hover {
  background-color: #5eaa2f;
}
.button-send:active {
  color: #ffffff30;
}

.cat-data__required-description {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000000;
  margin: 0;
}

.objective {
  margin: 0 0 26px;
  padding: 22px 20px 19px;
  border: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.objective__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.control {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.control-input {
  opacity: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  z-index: 2;
}
.control-input:checked + .control-mark::after {
  position: absolute;
  top: 8.5px;
  left: 8.5px;
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #68b738;
}
.control-input--checkbox:checked + .control-mark::after {
  position: absolute;
  top: 8.09px;
  left: 6.25px;
  content: url("../img/objective/checkbox-active-icon.svg");
  background: none;
}
.control-input + .control-mark {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
}
.control-input--checkbox + .control-mark {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 1px solid #cdcdcd;
}
.control-input:disabled + .control-mark {
  opacity: 0.3;
}
.control-input:disabled + .control-mark + .control-label {
  opacity: 0.3;
}

.control-label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.additionally {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 34px;
}

.additionally__list {
  padding: 0;
  margin: 0 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
/*# sourceMappingURL=style.css.map */