.additionally {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 34px;
}

.additionally__list {
  padding: 0;
  margin: 0 20px;
  list-style: none;
  display: flex;
  gap: 13px;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .additionally__list {
    margin-left: 70px;
    margin-bottom: 54px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 36px;
  }

  .additionally {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .additionally__list {
    margin-left: 110px;
    margin-bottom: 61px;
    gap: 17px;
  }
}
