.comment-form {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  padding: 9px 12px 0 15px;
  width: calc(100% - 40px);
  box-sizing: border-box;
  min-height: 150px;
  margin: 0 20px 20px;

  &:hover {
    border: 1px solid $special_grey;
  }

  &:focus,
  &:focus-visible {
    outline: none;
    border: 2px solid $special_dark-grey;
  }

  &:disabled {
    border: 2px solid $status_error;
  }
}

@media (min-width: $tablet-width) {
  .comment-form {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 19px;
    max-width: calc(100% - 137px);
    box-sizing: border-box;
    min-height: 174px;
    margin: 0 67px 61px 70px;
  }
}

@media (min-width: $desktop-width) {
  .comment-form {
    max-width: calc(100% - 220px);
    margin: 0 110px 62px 110px;
  }
}
