.control-input {
  opacity: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  z-index: 2;

  &:checked + .control-mark::after {
    position: absolute;
    top: 8px;
    left: 8px;
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #68b738;
  }

  &--checkbox:checked + .control-mark::after {
    position: absolute;
    top: 8.09px;
    left: 6.25px;
    width: 18px;
    height: 14px;
    content: "";
    background: url("../img/sprite.svg#objective_checkbox-active-icon");
    background-repeat: no-repeat;
    background-size: cover;
  }

  & + .control-mark {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $special_grey;
    box-sizing: border-box;
  }

  &--checkbox + .control-mark {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 1px solid $special_grey;
    box-sizing: border-box;
  }

  &:disabled + .control-mark {
    opacity: 0.3;

    & + .control-label {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .control-input {
    width: 40px;
    height: 40px;

    & + .control-mark {
      width: 40px;
      height: 40px;
    }

    &:checked + .control-mark::after {
      width: 18px;
      height: 18px;
      top: 9.5px;
      left: 9.5px;
    }

    &--checkbox:checked + .control-mark::after {
      top: 11px;
      left: 8px;
      width: 24px;
      height: 18.67px;
    }
  }
}
