.features__list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.features__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

  margin: 0 0 29px 71px;
}

.features__description {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;

  margin: 0;
  margin-bottom: 38px;
}

.features__item {
  background-color: $basic_grey;
  padding: 30px 33px 18px 20px;
  margin: 0 20px;

  &--weight-loss {
    background-image: url("../img/sprite.svg#features_cat-weight-loss");
    background-repeat: no-repeat;
    background-position: 21px 22px;
    background-size: 50px 53px;
  }

  &--weight-gain {
    background-image: url("../img/sprite.svg#features_cat-weight-gain");
    background-repeat: no-repeat;
    background-position: 13px 24px;
    background-size: 67px 50px;
  }
}

.features-card {
  min-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 15px;

  &::after {
    content: "";
    background-image: url("../img/features/features-arrow.svg");
    width: 24px;
    height: 12px;
  }

  &:hover::after {
    content: url("../img/features/features-arrow-hover.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .features__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;

    margin: 0;
    margin-left: 1px;
    margin-bottom: 24px;
  }

  .features__description {
    font-family: "Lato", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
    width: 340px;

    margin: 0;
    margin-bottom: 52px;
  }

  .features__item--weight-loss {
    background-repeat: no-repeat;
    background-position: 446px 80px;
    background-size: 200px 211px;
  }

  .features__item--weight-gain {
    background-repeat: no-repeat;
    background-position: 412px 90px;
    background-size: 268px 200px;
  }

  .features__item {
    margin: 0 30px;
    padding: 77px 0 57px 52px;
  }

  .features-card {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    gap: 25px;
  }

  .features__list {
    margin-bottom: 45px;
    gap: 30px;
  }
}

@media (min-width: $desktop-width) {
  .features__list {
    margin: 0;
    margin-bottom: 71px;
    padding: 82px 110px 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 80px;
    width: 100%;
    box-sizing: border-box;
  }

  .features__item {
    margin: 0;
    padding: 77px 61px 55px 52px;
    width: 570px;
    background-repeat: no-repeat;
    box-sizing: border-box;

    &--weight-loss {
      background-position: 52px 41px;
      background-size: 100px 106px;
    }

    &--weight-gain {
      background-size: 134px 100px;
      background-position: 33px 47px;
    }
  }

  .features__title {
    margin: 0;
    margin-left: 162px;
    margin-bottom: 75px;
  }

  .features__description {
    width: 457px;
    margin: 0;
    margin-bottom: 27px;
  }
}
