.field {
  padding: 14px 40px 13px 20px;
  border: 1px solid #e7e7e7;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  &::placeholder {
    color: $special_dark-grey;
  }

  &:hover {
    border: 1px solid $special_grey;
  }

  &:focus,
  &:focus-visible {
    outline: none;
    border: 2px solid $special_dark-grey;
  }

  &:disabled {
    border: 2px solid $status_error;
  }

  &--phone {
    padding: 15px 0 14px 15px;
  }

  &--email {
    padding: 14px 0 13px 15px;
  }

  &:invalid {
    border: 2px solid #ff8282;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: inset 0 0 0 50px #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .field {
    padding: 11px 40px 11px 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    height: 52px;
  }
}
