.field-group {
  position: relative;
  margin: 0;
  display: flex;
  gap: 13px;
  align-items: center;

  &--information {
    gap: 10px;

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
    }

    &:has(.field--email)::after {
      mask: url("../img/sprite.svg#cat-data_email-icon") no-repeat center / contain;
      background: #222222;
    }

    &:has(.field--phone)::after {
      mask: url("../img/sprite.svg#cat-data_phone-icon") no-repeat center / contain;
      background: #222222;
    }

    &:has(.field:focus)::after {
      background: #68b738;
    }

    &:has(.field:invalid)::after {
      background: #ff8282;
    }
  }
}

@media (min-width: $tablet-width) {
  .field-group {
    &--information {
      gap: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .field-group {
    &--information {
      width: 100%;
    }
  }
}
