.header {
  background-color: #ffffff;
  padding: 10px 20px 18px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header__logo {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .header__logo {
    display: none;
  }

  .header {
    padding: 25px 29px 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding: 53px 110px 0 110px;
    min-width: 1440px;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;

    &--absolute {
      position: absolute;
    }
  }
}
