.header__container {
  background-color: #ffffff;
  padding: 10px 20px 18px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header__logo {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .header__logo {
    display: none;
  }

  .header__container {
    padding: 25px 29px 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .header__container {
    padding: 53px 110px 0 110px;
    min-width: 1440px;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;

    &--absolute {
      position: absolute;
    }
  }

  .header {
    &--hero {
      position: relative;

      &::after {
        z-index: 0;
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        height: 694px;
        width: 50vw;
        background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/header/hero-cat-background-desktop.jpg");
        background-color: rgba(104, 183, 56, 0.85);
        background-size: cover;
      }
    }
  }
}
