.main-title {
  margin: 28px 0 0;
  padding-bottom: 39px;
  padding-left: 20px;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-decoration: none;
  color: #000000;

  border-bottom: 1px solid $special_grey-2;
}


@media (min-width: $tablet-width) {
  .main-title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    border: none;
    padding-left: 30px;
    padding-bottom: 0;
    margin-bottom: 163px;
    margin-top: 60px;
  }
}

@media (min-width: $desktop-width) {
  .main-title {
    padding-left: 110px;
    margin-bottom: 165px;
    margin-top: 74px;
  }
}
