.main-footer {
  background: $basic_grey;
}

.main-footer__social-list {
  margin: 0;
  padding: 20px 0 21px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__social-link {
  --fill: #666666;

  &:hover {
    --fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.main-footer__logo-link {
  padding: 39px 0 32px 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-footer__social-item {
  width: 28px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-footer__logo-html-academy-link {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $special_dark-grey;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 22px 20px;
  --fill: #666666;

  &:hover {
    --fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    padding: 58px 30px 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__social-list {
    margin: 0;
    padding: 0;
    gap: 26px;
    border-bottom: none;
  }

  .main-footer__logo-link {
    border-bottom: none;
    padding: 0;
  }

  .main-footer__logo-html-academy-link {
    padding: 0;
    margin: 0;
    gap: 23px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    padding: 57px 110px 58px;
  }
}
