.map-image {
  width: 100%;
  display: block;
  border: none;
  height: 362px;
  background-image: url("../img/map/map-image-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: $tablet-width) {
  .map-image {
    height: 400px;
    background-image: url("../img/map/map-image-tablet.jpg");
  }
}

@media (min-width: $desktop-width) {
  .map-image {
    position: relative;
    background-image: url("../img/map/map-image-desktop.jpg");
  }
}
