.map-image {
  width: 100%;
  margin-bottom: -4px;
  display: block;
  border: none;
}

@media (min-width: $tablet-width) {
  .map-image {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .map-image {
    position: relative;
  }
}
