.objective {
  margin: 0 0 26px;
  padding: 22px 20px 19px;
  border: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.objective__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

@media (min-width: $tablet-width) {
  .objective {
    margin: 0 67px 75px;
    padding: 24px 28px;
    border: none;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
  }

  .objective__list {
    gap: 23px;
  }
}

@media (min-width: $desktop-width) {
  .objective {
    min-width: 570px;
    box-sizing: border-box;
    margin: 0;
  }

  .objective__list {
    gap: 13px;
  }
}

