.objective {
  margin: 0 0 26px;
  padding: 22px 20px 19px;
  border: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.objective__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.control {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.control-input {
  opacity: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  z-index: 2;

  &:checked + .control-mark::after {
    position: absolute;
    top: 8.5px;
    left: 8.5px;
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #68b738;
  }

  &--checkbox:checked + .control-mark::after {
    position: absolute;
    top: 8.09px;
    left: 6.25px;
    content: url("../img/objective/checkbox-active-icon.svg");
    background: none;
  }

  & + .control-mark {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
  }

  &--checkbox + .control-mark {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 1px solid #cdcdcd;
  }

  &:disabled + .control-mark {
    opacity: 0.3;

    & + .control-label {
      opacity: 0.3;
    }
  }
}

.control-label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}
