.site-list__item {
  padding: 22px 0 24px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-top: 1px solid hsl(0, 0%, 90%);
}

.site-list__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item {
    border-top: none;
    padding: 0;

    &--active {
      position: relative;
      display: inline-block;

      &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        left: 0;
        bottom: -8px;
        background-color: #68b738;
      }
    }
  }

  .site-list__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;

    .header--hero & {
      color: #ffffff;
    }
  }

  .site-list__item {
    background-color: transparent;

    &--active {
      .header--hero &::after {
        background-color: #ffffff;
      }
    }
  }
}
