.stats__wrapper {
  padding: 26px 20px 20px;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/img/stats/cat-main-background.png");
  background-repeat: no-repeat, no-repeat;
  background-size: auto 302px, auto auto;
}

.stats__description {
  margin: 0;
  margin-bottom: 30px;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.stats__image {
  margin: 0 0 2px;
}

.stats__programm-card {
  height: 40px;
  box-sizing: border-box;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;
  background: #68b738;

  &:hover {
    background-color: hsl(97, 57%, 43%);
  }

  &:active {
    color: #ffffff30;
  }
}
